/*
colours:
	#CDCAB9 grey
	#D6D3C4
	#DFDED4
	#432F21 brown
	#CA171B red

font-family: "Helvetica",Helvetica,Arial,sans-serif;
*/

.color1 {
	background-color: #CA171B; /* red */
}

.color2 {
	background-color: #432F21; /* brown */
}

.color3 {
	background-color: #DFDED4; /* lightest grey */
}

.color4 {
	background-color: #D6D3C4; /* medium grey */
}

.color5 {
	background-color: #CDCAB9; /* darkest grey */
}

.color6 {
	background-color: white;
}


body {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, clean, sans-serif;
	font-size: 12.75;
}

li{ 
        margin-top: 0pt;
        margin-bottom: 0pt;
}

#top {
	height: 100px;
	position: relative;
	left: 0px;
	right: 0px;
	top: 0px;
}

#contentwrap {
	width: 1000px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#leftbar {
	width: 144px;
	height: 572px; /* change this later to overflow */
	overflow: auto; /* see if this works */
	float: left;
	margin-left: 4px;
	margin-right: 2px;
	margin-top: 4px;
	margin-bottom: 4px;
}
#leftbar h2 {
	text-align: center;
	font-size: 17; 
}
#leftbar ul li {
	font-size: 14;
	list-style-type: none;
	margin-top: 1em;
	text-indent: -2em;
}

#banner {
	width: 844px;
	height: 94px;
	float: left;
	margin-left: 2px;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 2px;
}

#map-canvas {
	width: 632px;
	height: 474px;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 4px;
}

#results {
	width: 208px;
	height: 474px;
	overflow: scroll;
	float: right;
	margin-left: 2px;
	margin-right: 4px;
	margin-top: 2px;
	margin-bottom: 0px;
}

#footer {
	background-color: #CDCAB9;
	width: 100%;
	height: 100px;
	display: table;
}
#footerchild {
  	display: table-cell;
  	vertical-align: middle;
	text-align: center;  	
}
#footerchild a {
	text-decoration: none;
	color: #432F21;
}
#footerchild a:hover {
	text-decoration: underline;
	color: #432F21;
}
#footerchild a:visited {
	text-decoration: none;
	color: #DFDED4;
}